
## <summary>policy for gsa</summary>


########################################
## <summary>
##	Transition to gsa.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gsa_domtrans',`
	gen_require(`
		type gsa_t, gsa_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gsa_exec_t, gsa_t)
')


########################################
## <summary>
##	Execute gsa server in the gsa domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gsa_initrc_domtrans',`
	gen_require(`
		type gsa_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, gsa_initrc_exec_t)
')


########################################
## <summary>
##	Search gsa lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gsa_search_lib',`
	gen_require(`
		type gsa_var_lib_t;
	')

	allow $1 gsa_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gsa lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gsa_read_lib_files',`
	gen_require(`
		type gsa_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gsa_var_lib_t, gsa_var_lib_t)
')

########################################
## <summary>
##	Manage gsa lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gsa_manage_lib_files',`
	gen_require(`
		type gsa_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gsa_var_lib_t, gsa_var_lib_t)
')

########################################
## <summary>
##	Manage gsa lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gsa_manage_lib_dirs',`
	gen_require(`
		type gsa_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gsa_var_lib_t, gsa_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a gsa environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gsa_admin',`
	gen_require(`
		type gsa_t;
		type gsa_initrc_exec_t;
		type gsa_var_lib_t;
	')

	allow $1 gsa_t:process { ptrace signal_perms };
	ps_process_pattern($1, gsa_t)

	gsa_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 gsa_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, gsa_var_lib_t)

')

