# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=PIVX Core
Comment=PIVX Core QT main network
GenericName=PIVX Digital Currency QT client main network
Exec=gsa-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/gsa.png
MimeType=x-scheme-handler/gsa;
Categories=X-Office;X-Finance;
Keywords=internet;gsa;zgsa;gsa;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
